body {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  background-image: url('../../images/glasses-bg.png');
  padding-top: 1rem;
  background-size: cover;
  height: 30rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.banner {
/*  position: relative;
  top: 1rem; */
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  font-size: 1rem;
  color: white;
  align-items: center;
}

.logo {
  padding-left: 2rem;
  justify-content: center;
  align-items: center;


}
.logo span {
  text-align: center;
  justify-content: center;
  align-items: center;
}


.logo img {
    height: 1.5rem;
    margin-right: 1rem;
}

li {
  display: inline-block;
  margin: 1rem 2rem;
}

.main-banner-text {
  margin-top: 10rem;
  display: inline-block;
  background-color: white;
  padding: 1.5rem 5rem;
  right: 2rem;
  position: relative;
}

.main-banner-text h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}



.services {
  margin-top: 3rem;
  height: 8rem;
  display: flex;
  justify-content: center;

}

.service {

background-size: cover;
}

.service-image img{
  max-width: 3rem;

}


.information {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.info {
  display: inline-block;
  width: 35%;
  margin-right: 5rem;
}

.info span {

}

.title {
  display: inline-block;
  width: 10rem;
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}


footer {
  margin-top: 5rem;
  background-color: azure;
}
footer .logo {
  border: solid 1px black;
  display: flex;
  justify-content: flex-start;
  padding: 4rem;
}

footer .logo img {
   height: 1.5rem;
}
